* {
  box-sizing: border-box;
  position: relative;
}

.board {
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content);

  grid-auto-rows: minmax(min-content, max-content);

  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main";
  justify-items: center;
  align-items: center;
}
.board .card {
  margin: 10px 10px 0 10px;
}

.channelinfo img {
  max-width: 100%;
}

.channelinfo a {
  cursor: auto;
}
.deck {
  position: fixed;
  top: 29px;
  left: 29px;
  width: 33vw;
  height: 25vh;

  background: transparent;
}
.deck .card {
  position: absolute;
  top: 0px;
  left: 0px;
}

.card.title {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.card.title .topline .name {
  font-size: 4rem;
  min-width: max-content;

  color: #f8f8ff;
  text-shadow: 0 3px 0 #b2a98f, 0 14px 10px rgba(0, 0, 0, 0.15),
    0 24px 2px rgba(0, 0, 0, 0.1), 0 34px 30px rgba(0, 0, 0, 0.1);
}

.card {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 25px;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  background: rgb(32, 43, 61);
  -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
  min-width: 0;
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
  z-index: 5;
}

.card.member {
  max-width: 25vw;
  cursor: pointer;
}
.card:hover {
  border-color: white;
}
.embeddedplayer {
  border-radius: 5px;
  border-width: 1px;
  padding: 1px;
}

.embeddedplayer iframe {
  width: 100%;
}

.embeddedplayer iframe:hover {
  transform: scale(3, 3);
}

.topline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.channelinfo {
  max-width: 30rem;
  text-wrap: none;
}

.avatar img {
  border-radius: 50%;
  width: 48px;
}

.name {
  padding-left: 10px;
  font-family: "Industrywf", sans-serif;
  font-size: 24px;
  color: hsla(0, 0%, 100%, 0.6);
}

.team {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 999999;
}

.team img {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

body {
  background: transparent;
}
